<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACTTenantToken</key>
	<string>6d59d5b87e704ec5adefdda91cb4096f-62322cfc-4190-4a7e-86fc-ebd935f01750-7135</string>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>BITAppIdentifier</key>
	<string>5e0c144289a51fca2d3bfa39ce7f2b06</string>
	<key>BuildMachineOSBuild</key>
	<string>17D47</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIconBeta</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rdp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RDP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.uti.rdpfile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Microsoft Remote Desktop Beta</string>
	<key>CFBundleIconFile</key>
	<string>AppIconBeta</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.rdc.osx.beta</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Microsoft Remote Desktop Beta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppBetaIcon</string>
			<key>CFBundleURLName</key>
			<string>Microsoft Remote Desktop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rdp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>866</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0832</string>
	<key>DTXcodeBuild</key>
	<string>8E2002</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Microsoft. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>Client.MacApplication</string>
	<key>RDCBuildCommit</key>
	<string>d06b2c6d46576c2b0408e383cb21f2f159298834</string>
	<key>RDCBuildNumber</key>
	<string>866</string>
	<key>RDCSupportedAuthoringTools</key>
	<array>
		<string>rdAssistant</string>
	</array>
	<key>SUFeedURL</key>
	<string>https://rink.hockeyapp.net/api/2/apps/5e0c144289a51fca2d3bfa39ce7f2b06</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>RDP Connection Files</string>
			<key>UTTypeIconFile</key>
			<string>AppIconBeta</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.uti.rdpfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rdp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-rdp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
