<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lookups</key>
	<dict>
		<key>test1@example.com</key>
		<string>https://example.com/rdweb/feed/webfeed.aspx</string>
		<key>test2@example.com</key>
		<string>example.com/rdweb/feed/webfeed.aspx</string>
	</dict>
</dict>
</plist>
