<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookmarkFolderCollection</key>
	<array>
		<dict>
			<key>id</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
			<key>title</key>
			<string>Client Desktops</string>
		</dict>
		<dict>
			<key>id</key>
			<string>228F15B6-78A4-43C4-B31B-3DF4CE78ECCA</string>
			<key>title</key>
			<string>Server Desktops</string>
		</dict>
	</array>
	<key>GatewayCollection</key>
	<array>
		<dict>
			<key>id</key>
			<string>0B8CFF03-862A-4E62-8DB7-629AEBEB3989</string>
			<key>hostname</key>
			<string>twhv-ws2k12r2.timward.stbtest.microsoft.com</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6E5EDF96-3A4C-49E0-8B13-2596489C298F</string>
			<key>hostname</key>
			<string>twhv-ws2k8r2.timward.stbtest.microsoft.com</string>
		</dict>
	</array>
	<key>CredentialCollection</key>
	<array>
		<dict>
			<key>id</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
			<key>username</key>
			<string>timward\tstestuser1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>663DCB95-B2FF-47AB-9F7A-CC7CE17C9ADC</string>
			<key>username</key>
			<string>timward\tsgatewayuser1</string>
		</dict>
	</array>
	<key>BookmarkCollection</key>
	<array>
		<dict>
			<key>id</key>
			<string>968567EA-6608-461B-9926-E6FF62F1FF26</string>
			<key>friendlyName</key>
			<string>Windows Server 2012 R2</string>
			<key>hostname</key>
			<string>twhv-ws2k12r2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>979BCE75-4A7E-48B2-9763-8D8D1618852F</string>
			<key>friendlyName</key>
			<string>Windows Server 2012 R2 (HTTPS GW)</string>
			<key>hostname</key>
			<string>twhv-ws2k12r2-1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>FF2AEAAF-68B9-4AD4-96EC-EC340E2AF838</string>
			<key>friendlyName</key>
			<string>Windows Server 2012 R2 (RPC GW)</string>
			<key>hostname</key>
			<string>twhv-ws2k12r2-1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5A3BAC28-9850-4574-9F7C-B04A91BAFCEB</string>
			<key>friendlyName</key>
			<string>Windows Server 2008 R2</string>
			<key>hostname</key>
			<string>twhv-ws2k8r2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>AA79526F-3D32-48A0-8C34-9DC24716C1F1</string>
			<key>friendlyName</key>
			<string>Windows 10</string>
			<key>hostname</key>
			<string>twhv-win10</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DE07003C-54A1-4F16-AE8D-0C7B1CF1DA83</string>
			<key>friendlyName</key>
			<string>Windows 8.1</string>
			<key>hostname</key>
			<string>twhv-win81-1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>8C20AAA0-1C32-4F62-932B-52BB1E2C4F02</string>
			<key>friendlyName</key>
			<string>Windows 8.1 [3390]</string>
			<key>hostname</key>
			<string>twhv-win81-2:3390</string>
		</dict>
		<dict>
			<key>id</key>
			<string>AAFA3DEA-6D39-47DC-AE85-AA76556838A7</string>
			<key>friendlyName</key>
			<string>Windows 8.1 (NLA Disabled)</string>
			<key>hostname</key>
			<string>twhv-win81</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5D32A7A3-162F-46AE-9670-24B50338574C</string>
			<key>friendlyName</key>
			<string>Windows 7</string>
			<key>hostname</key>
			<string>twhv-win7</string>
		</dict>
		<dict>
			<key>id</key>
			<string>110AA654-3CBC-45F8-9491-63E86B807F74</string>
			<key>friendlyName</key>
			<string>Windows Vista</string>
			<key>hostname</key>
			<string>twhv-winvista</string>
		</dict>
		<dict>
			<key>id</key>
			<string>FCF2EDF2-04EC-48C6-976E-1BE6020C638A</string>
			<key>friendlyName</key>
			<string>Windows XP</string>
			<key>hostname</key>
			<string>twhv-winxp</string>
		</dict>
	</array>
	<key>CertificateCollection</key>
	<array/>
	<key>BookmarkBookmarkFolderAssociations</key>
	<array>
		<dict>
			<key>bookmarkId</key>
			<string>968567EA-6608-461B-9926-E6FF62F1FF26</string>
			<key>bookmarkFolderId</key>
			<string>228F15B6-78A4-43C4-B31B-3DF4CE78ECCA</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>979BCE75-4A7E-48B2-9763-8D8D1618852F</string>
			<key>bookmarkFolderId</key>
			<string>228F15B6-78A4-43C4-B31B-3DF4CE78ECCA</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>FF2AEAAF-68B9-4AD4-96EC-EC340E2AF838</string>
			<key>bookmarkFolderId</key>
			<string>228F15B6-78A4-43C4-B31B-3DF4CE78ECCA</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>5A3BAC28-9850-4574-9F7C-B04A91BAFCEB</string>
			<key>bookmarkFolderId</key>
			<string>228F15B6-78A4-43C4-B31B-3DF4CE78ECCA</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>AA79526F-3D32-48A0-8C34-9DC24716C1F1</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>DE07003C-54A1-4F16-AE8D-0C7B1CF1DA83</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>8C20AAA0-1C32-4F62-932B-52BB1E2C4F02</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>AAFA3DEA-6D39-47DC-AE85-AA76556838A7</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>5D32A7A3-162F-46AE-9670-24B50338574C</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>110AA654-3CBC-45F8-9491-63E86B807F74</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>FCF2EDF2-04EC-48C6-976E-1BE6020C638A</string>
			<key>bookmarkFolderId</key>
			<string>9A6AE3F3-77A6-45FF-B736-9918BC62CF8D</string>
		</dict>
	</array>
	<key>BookmarkGatewayAssociations</key>
	<array>
		<dict>
			<key>bookmarkId</key>
			<string>979BCE75-4A7E-48B2-9763-8D8D1618852F</string>
			<key>gatewayId</key>
			<string>0B8CFF03-862A-4E62-8DB7-629AEBEB3989</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>FF2AEAAF-68B9-4AD4-96EC-EC340E2AF838</string>
			<key>gatewayId</key>
			<string>6E5EDF96-3A4C-49E0-8B13-2596489C298F</string>
		</dict>
	</array>
	<key>BookmarkCredentialAssociations</key>
	<array>
		<dict>
			<key>bookmarkId</key>
			<string>968567EA-6608-461B-9926-E6FF62F1FF26</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>979BCE75-4A7E-48B2-9763-8D8D1618852F</string>
			<key>credentialId</key>
			<string>663DCB95-B2FF-47AB-9F7A-CC7CE17C9ADC</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>E79C3958-4F17-4FDE-8DF2-5B3E14972404</string>
			<key>credentialId</key>
			<string>CD08A842-8DCF-41E0-B979-782CD21D424D</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>5A3BAC28-9850-4574-9F7C-B04A91BAFCEB</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>AA79526F-3D32-48A0-8C34-9DC24716C1F1</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>DE07003C-54A1-4F16-AE8D-0C7B1CF1DA83</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>8C20AAA0-1C32-4F62-932B-52BB1E2C4F02</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>AAFA3DEA-6D39-47DC-AE85-AA76556838A7</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>5D32A7A3-162F-46AE-9670-24B50338574C</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>110AA654-3CBC-45F8-9491-63E86B807F74</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
		<dict>
			<key>bookmarkId</key>
			<string>FCF2EDF2-04EC-48C6-976E-1BE6020C638A</string>
			<key>credentialId</key>
			<string>2D5D529D-70C6-482A-97B4-3EF43DB2FEB7</string>
		</dict>
	</array>
	<key>GatewayCredentialAssociations</key>
	<array>
		<dict>
			<key>gatewayId</key>
			<string>0B8CFF03-862A-4E62-8DB7-629AEBEB3989</string>
			<key>credentialId</key>
			<string>663DCB95-B2FF-47AB-9F7A-CC7CE17C9ADC</string>
		</dict>
		<dict>
			<key>gatewayId</key>
			<string>6E5EDF96-3A4C-49E0-8B13-2596489C298F</string>
			<key>credentialId</key>
			<string>663DCB95-B2FF-47AB-9F7A-CC7CE17C9ADC</string>
		</dict>
	</array>
</dict>
</plist>
